<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png" class="img-fluid" alt="">
    </a>

    <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav ms-auto navbar-user">
      <li class="nav-item">
        <a href="" class="nav-link"><i style="font-size: 32px;" class="bi bi-bell-fill"></i></a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link"><i style="font-size: 32px;" class="bi bi-person-circle"></i></a>
      </li>
    </ul>
</nav>
