<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <div>
        <ul>
          <li>
            <label for="name">Account Holder Name</label>
            <p id="name"> {{accountInformation.name}} </p>
          </li>
          <li>
            <label for="name">Account Number</label>
            <p id="name"> {{accountInformation.number}} </p>
          </li>
          <li>
            <label for="number">Branch</label>
            <p id="name"> {{accountInformation.branch}} </p>
          </li>
          <li>
            <label for="name">Balance</label>
            <p id="name"> {{accountInformation.balance}} </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
