
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}


